/.idea
/node_modules
/vendor
/config.php
node_modules
**/.DS_Store
.certs/dkim_private_key.pem
/.vscode/settings.json


# dev files
opetaja-assistent2
logs/output.txt

# Docker build cache
.docker-checksums.json
