<?php

const ENV = 'ENV_DEVELOPMENT';

// Local configuration
const DATABASE_HOSTNAME = 'mysql';
const DATABASE_USERNAME = 'root';
const DATABASE_PASSWORD = '';
const DATABASE_DATABASE = 'kriit';
const DATABASE_PORT = 8006;

//Mail
const SMTP_AUTH_PASSWORD = '';
const SMTP_AUTH_USERNAME = '';
const SMTP_AUTH = false;
const SMTP_DEBUG = 0;
const SMTP_ENCRYPTION = 'none';
const SMTP_FROM =  'kriit@kriit.eu';
const SMTP_HOST = 'mailhog';
const SMTP_PORT = 1025; // 1025 - Mailhog, 25 - live
const SMTP_USE_SENDMAIL = false; // Send mail via system sendmail command or directly via SMTP
const SMTP_DKIM_ENABLED = true;
const SMTP_DKIM_DOMAIN = 'kriit.eu';
const SMTP_DKIM_PRIVATE_KEY = '.certs/dkim_private_key.pem';
const SMTP_DKIM_SELECTOR = 'kriit-eu';
const SMTP_DKIM_PASSPHRASE = '';
const SMTP_DKIM_IDENTITY = SMTP_FROM;

// Make sure timestamps are correct
date_default_timezone_set('Europe/Tallinn');

// In which language you have translatable phrases in the code
const DEFAULT_LANGUAGE = 'en';

// List of allowed IP addresses for applicants
const ALLOWED_IP_ADDRESSES = ['127.0.0.1', '::1'];

// Node location
const NODE_EXE = '/Users/henno/.nvm/versions/node/v20.12.1/bin/node';

const SENTRY_DSN = '';

// Enable SQL debugging (shows all SQL queries at the end of the page for admin users only)
const SQL_DEBUG = false;
