/* Show a 'hand' mouse pointer on clickable rows */
table.clickable-rows tr:hover {
    cursor: pointer;
    background: rgba(176, 191, 175, 0.13);
}

.table-nonfluid {
    width: auto !important;
}

#container {
    padding-top: 50px;
    margin-top: 1em
}

a {
    cursor: pointer;
}


body{
    background: linear-gradient(180deg, rgba(193, 193, 193, 0.0) 0%, rgba(193, 193, 193, 0.3) 100%);
}
